a:link,
a:visited,
a:hover,
a:active {
    color: #222;
    text-decoration: none;
}

.container {
    text-align: center;
}

.header {
    margin-bottom: 5%;
}

#contact {
    margin-bottom: 5%;
}

#icons a {
    margin: 0 3rem;
}